.layout {
    display: flex;
    flex-wrap: nowrap;
}

.layout__left-side
{
    flex: 1;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

.layout__right-side {
    flex: 2;
}


.hide {
    display: none;
}

.toc-link-active {
    font-weight: bold;
}

.toc-chapter ol {
    display: none;
}

.toc-chapter__radio:checked ~ ol {
    display: block;
}

